{% extends 'templates/app.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="{{ route('auth.login') }}" method="POST">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" name="email" id="inputEmail" class="form-control{{ errors.email ? ' is-invalid' : '' }}" placeholder="Email address" required="" autofocus="">
                {% if errors.email %}
                    <div class="invalid-feedback">
                        {{ errors.email | first }}
                    </div>
                {% endif %}
                <br/>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword"class="form-control{{ errors.password ? ' is-invalid' : '' }}" placeholder="Password" required="">
                {% if errors.password %}
                    <div class="invalid-feedback">
                        {{ errors.password | first }}
                    </div>
                {% endif %}
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="remember" value="remember-me"> Remember me
                    </label>
                </div>
                <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.token }}">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock %}