<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ route('index') }}">{{ config.get('app.name') }}</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% if auth.check %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ route('profile') }}">Profile</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav">
            {% if auth.check %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ route('profile') }}">{{ auth.user.name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="event.preventDefault(); document.getElementById('logout').submit();">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ route('auth.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ route('auth.register') }}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<form action="{{ route('auth.logout') }}" method="POST" style="display: none;" id="logout">
    <input type="hidden" name="{{ csrf.key }}" value="{{ csrf.token }}">
</form>
